
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #505050;
$darkGray: #696969;
$gray: #7c7c7c;
$lightGray: #eee;
$white: #fff;
$backgroundGray: #fcfcfa;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$ubunty: Ubuntu, Arial, sans-serif;
$roboto: Roboto, Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}